:root {
  --color-primary: #640a34;
  --color-secondary: #6b0101;
  --color-text: black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Playtime";
  scroll-behavior: smooth;
  box-sizing: border-box;
  text-align: justify;
}

/* FONTS */
@font-face {
  font-family: "Playtime";
  src: url("../assets/extern/font/playtime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
