:root {
  --color-primary: #640a34;
  --color-secondary: #6b0101;
  --color-text: black;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Playtime";
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

/* FONTS */
@font-face {
  font-family: "Playtime";
  src: url("../assets/extern/font/playtime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
