#play_button_credits {
  width: 7vw;
  height: 7vw;
  display: block;
}

.div_play_button {
  z-index: 5;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.div_play_button a {
  margin: 1.5vw;
  position: fixed;
  align-self: flex-start;
  justify-self: end;
  top: 0;
  left: 0;
  width: 10.5vw;
  height: 7.5vw;
}

a>img {
  width: 100%;
  height: 100%;
}

/* Button Credits*/
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
