#escape {
  display: none;
  position: fixed;
  width: 40vw;
  height: 30vw;
  /*box-shadow: 0 0 30vw 5vw black;*/
  max-width: 100vh;
  max-height: 75vh;
  
  z-index: 101;

  align-items: center;
  justify-content: center;

  background-image: url(../assets/extern/UI/bg-config-gallery.png);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#escape .buttons {
  max-width: 60%;
}

#quit_esc_button {
  display: block;
  margin: min(3vw, 9vh) min(5vw, 12vh);
  position: absolute;
  top: 0;
  right: 0;
  width: min(2vw, 7vh);
  height: min(2vw, 7vh);
  background-image: url(../assets/extern/UI/bt-del.png);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#quit_esc_button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  #escape { 
    width: 60vw;
    height: 40vw;
  }
  #quit_esc_button {
    margin: 2vw 6vw;
    width: 6vw;
    height: 6vw;
  }
}