#game {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/extern/bgs/bg_op_snowywoods.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#text {
  position: fixed;
  width: 100vw;
  height: 200px;
  bottom: 5%;
  left: 3%;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("../assets/extern/UI/bg-narration.png");
}

#text p {
  padding: 6.5% 5%;
  color: white;
  font-size: 20px;
}

#name {
  position: fixed;
  width: 25%;
  height: 180px;
  bottom: 10%;
  left: 75%;
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../assets/extern/UI/bg-narration.png");
}
#name p {
  padding: 18% 5%;
  color: white;
  font-size: 23px;
}
