#game {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../assets/extern/bgs/bg_op_snowywoods.png');
	background-size: cover;
	background-position: center;
	background-repeat: 'no-repeat';
}

#text {
	position: fixed;
	bottom: 3%;
	left: 2%;
	width: 90%;
	height: 15%;
	background-color: black;
	opacity: 0.7;
	border: 3px solid #8b8275;
	color: white;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 3% 5%;
	z-index: 1001;
	display: flex;
	align-items: flex-start;
}

#name {
	position: fixed;
	width: 21%;
	height: 15%;
	bottom: 9%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	color: white;
	font-size: 23px;
	z-index: 1000;
	padding-left: 1%;
	padding-top: 1%;
	background-color: black;
	opacity: 0.7;
	border-bottom: 3px solid #8b8275;
	border-top: 3px solid #8b8275;
	border-right: 3px solid #8b8275;
}
