#login{
  display: none;
  position: fixed;
  /*box-shadow: 0 0 30vw 5vw black;*/
  
  z-index: 101;
  flex-direction: column;
}

#login input{
  display: block;

  width: 30vw;
  height: 3vw;

  margin: 0.7vw;
  padding: 0.5vw;
  justify-self: center;

  border: 0;
  color: #fff2d4;
  background-color: #948b7c;
  border: 0.2vw solid #fff2d4;
  box-shadow: 0px 0px 0px 0.08vw #948b7c;
  
  text-align: center;
  font-size: 1.5vw;
}

#login input::placeholder{
  color: #fff2d4;
  text-align: center;
  border-color: #fff2d4;
}

#login input:focus, #login input:hover{
  outline: none;
  border-color: #99B681;
}

#login input:focus::placeholder{
  color: #99B681;
}

#login #inp_pseudo{
  margin-bottom: 2vw;
}

#login #inp_submit{
  margin-top: 3vw;
}

#login #inp_submit:hover, #login #inp_submit:focus{
  text-decoration: underline;
  text-decoration-color: #fff2d4;
  border-color: #fff2d4;
}

#login li{
  display: block;
  justify-self: center;

  color: #eb243b;
  font-size: 1vw;
}

#login ul{
  justify-self: center;
  display: flex;
  flex-direction: row;
}

#login ul>li {
  margin: 0 1vw;
}