#menu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/extern/UI/main/bg-main.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

#buttons {
  position: absolute;
  top: 75%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
/* Button Credits*/
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
