#save_div {
  display: none;
  position: fixed;

  width: 35vw;
  height: 32vw;
  max-height: 90vh;
  /* box-shadow: 0 0 30vw 5vw black; */

  z-index: 102;

  align-items: start;
  justify-content: center;

  background-image: url(../assets/extern/UI/main/background-unsatured.png);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
  background-repeat: repeat;

	border: 0.4vw solid var(--secondary-color);

  overflow-y: auto;
}

#close_save_button {
  display: block;
  margin: 1vw 1vw;
  position: absolute;
  z-index: 104;
  top: 0;
  right: 0;
  width: 2vw;
  height: 2vw;
  background-image: url(../assets/extern/UI/bt-del.png);
  background-position-y: center;
  background-position-x: center;
  background-size: cover;
}

#close_save_button:hover {
  cursor: pointer;
}

#save_div .buttons {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 31.4vw;
  flex-wrap: wrap;
  justify-content: center;
}

#save_div .buttons h1 {
  color: var(--secondary-color);
  font-size: 4vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-shadow: -0.1vw -0.1vw 0 #48443c, 0.1vw -0.1vw 0 #48443c, -0.1vw 0.1vw 0 #48443c, 0.1vw 0.1vw 0 #48443c;  /* From https://stackoverflow.com/a/4919231 */
}

#save_div .buttons button {
  width: 25vw;
	margin: 1vw 0.7vw 0.1vw 1vw;
}

#save_div .buttons #reset_auto_save_button {
  width: 100%;
  max-width: 100%;
  margin: 1vw 1vw 0.1vw 1vw;
  background-color: var(--ui-red); 
	box-shadow: 0px 0px 0px 0.08vw var(--ui-red);
}

#save_div .buttons .reset_save {
  width: 3vw;
	margin-left: 0.7vw;
  margin-right: 1vw;
	color: var(--primary-color);
	background-color: var(--ui-red);
	border: 0.2vw solid var(--primary-color);
	box-shadow: 0px 0px 0px 0.08vw var(--ui-red);
}

.buttons .reset_save:hover {
	text-decoration: none;
	background-color: var(--ui-pink) !important;
	box-shadow: 0px 0px 0px 0.08vw var(--ui-pink) !important;
}

#save_div .buttons .separate_saves {
  width: 100%; 
  height: 1vw;
	margin: 0.1vw 0 1vw 0;
}

#save_div .buttons .separate_saves p {
	display: block;
	width: 25vw;
	height: 1vw;
  font-size: min(1vw, 5vh);
	margin: min(0.1vw, 1vh) min(0.7vw, 1vh) min(1vw, 5vh) min(1vw, 5vh);
  text-align: center;
}

#save_div .buttons .separate_saves div {
	display: block;
	width: 3vw;
	height: 1vw;
	margin: 0.1vw 1vw 1vw 0.7vw;
}

@media only screen and (max-width: 1000px) {
  #save_div {
    width: 80vw; /*35*/
    height: 77vw; /*32*/
  }

  #close_save_button {
    width: 8vw;
    height: 8vw;
  }
  
  #save_div .buttons h1 {
    color: var(--secondary-color);
    font-size: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-shadow: -0.2vw -0.2vw 0 #48443c, 0.2vw -0.2vw 0 #48443c, -0.2vw 0.2vw 0 #48443c, 0.2vw 0.2vw 0 #48443c;
  }
  
  #save_div .buttons {
    width: 70.4vw;
  }

  #save_div .buttons button {
    width: 60vw;
  }

  #save_div .buttons .reset_save {
    width: 7vw;
  }

  #save_div .buttons .separate_saves p {
    width: 50vw;
    height: 1vw;
  }
}